body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../支付密码_找回_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:24px;
    top:14px;
    width:648px;
    height:372px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:654px;
    height:378px;
}

.u1 {
    position:absolute;
    left:2px;
    top:178px;
    width:644px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:62px;
    top:39px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:62px;
    top:107px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:35px;
    top:226px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../支付密码_找回_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:139px;
    top:215px;
    width:104px;
    height:34px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:110px;
    height:40px;
}

.u6 {
    position:absolute;
    left:2px;
    top:9px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:405px;
    top:98px;
    width:267px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../支付密码_找回_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:139px;
    top:98px;
    width:52px;
    height:34px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:58px;
    height:40px;
}

.u9 {
    position:absolute;
    left:2px;
    top:9px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../支付密码_找回_files/u8_normal.png');
}

.u10_container {
    position:absolute;
    left:191px;
    top:98px;
    width:52px;
    height:34px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:58px;
    height:40px;
}

.u11 {
    position:absolute;
    left:2px;
    top:9px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:36px;
    top:167px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../支付密码_找回_files/u5_normal.png');
}

.u13_container {
    position:absolute;
    left:139px;
    top:158px;
    width:104px;
    height:34px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:110px;
    height:40px;
}

.u14 {
    position:absolute;
    left:2px;
    top:9px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../支付密码_找回_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:144px;
    top:70px;
    width:437px;
    height:284px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:443px;
    height:290px;
}

.u16 {
    position:absolute;
    left:2px;
    top:134px;
    width:433px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:151px;
    top:91px;
    width:150px;
    height:160px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:311px;
    top:91px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:311px;
    top:134px;
    width:78px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:311px;
    top:181px;
    width:167px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:311px;
    top:230px;
    width:167px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:311px;
    top:290px;
    width:72px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:399px;
    top:134px;
    width:79px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:311px;
    top:265px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

